* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-image: url(img/world.svg);
  width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color:rgb(48, 2, 250);
  font-size: 1.35rem;
}

.countries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.filler {
  position: relative;
  transition: all .7s linear;
  transform-style: preserve-3d;
}

.front,
.back {
  display: flex;
  height: 10rem;
  width: 10rem;
  border-radius: 1.2em;
  margin: .5rem;
  padding: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(70, 92, 156);
  font-weight: 700;
  font-size: 1.3rem;
  z-index: 1;
}

.front {
  background: rgb(70, 92, 156);
  position: absolute;
  backface-visibility: hidden;
  z-index: 2;
}

.back {
  background-color: rgb(184, 11, 77);
  z-index: 1;
  transform: rotateY(180deg);
}

.country:hover .filler {
  transform: rotateY(180deg);
}